app/frontend_client/windows/WinNotifier/Service References/Unity/UnityService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.allscripts.com/Unity" elementFormDefault="qualified" targetNamespace="http://www.allscripts.com/Unity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://pro14ga.unitysandbox.com/Unity/UnityService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Allscripts.UAI.Unity.UnityService" />
  <xs:import schemaLocation="http://pro14ga.unitysandbox.com/Unity/UnityService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="Magic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Action" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Appname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PatientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter4" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter5" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Parameter6" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MagicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MagicResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnMagicJSON">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Allscripts.UAI.Unity.UnityService" minOccurs="0" name="o" nillable="true" type="q1:MagicInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnMagicJSONResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="ReturnMagicJSONResult" type="q2:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSecurityTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="originalToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidSecurityTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityTokenPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Allscripts.UAI.Unity.UnityService" minOccurs="0" name="ti" nillable="true" type="q3:GetTokenInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidSecurityTokenPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="GetValidSecurityTokenPostResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenJsonPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Allscripts.UAI.Unity.UnityService" minOccurs="0" name="ti" nillable="true" type="q5:GetTokenJsonInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTokenJsonPostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="GetTokenJsonPostResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityTokenPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Allscripts.UAI.Unity.UnityService" minOccurs="0" name="ri" nillable="true" type="q7:RetireTokenInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityTokenPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireTokenJsonPost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Allscripts.UAI.Unity.UnityService" minOccurs="0" name="ri" nillable="true" type="q8:RetireTokenJsonInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireTokenJsonPostResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Appname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetireSecurityTokenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>